{# [module]/templates/my-template.html.twig #}
{# variable test_var #}
<div id="tablero">
    <div id="status">
        <div id="posicion_barra">
            <div id="progreso">
                <div id="miBarra"></div>
                <div class="clearfix"></div>
            </div> 
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

    <div id="contenido_tablero" class="tablero_negro">
        <!-- contenido tablero -->
    </div>

    <div id="play_repeat">
        <span id="play" class="sprite-play sprite-play1"></span>
    </div>

    

    <div id="marcador">
        <div id="puntos"></div>
    </div>

    <div id="botones">
        <span id="correcto" class="sprite-correcto sprite-correcto1"></span>
        <span id="incorrecto" class="sprite-incorrecto sprite-incorrecto1"></span>
    </div> <!-- botones -->
</div>